@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
  font-family: Montserrat;
  text-align: center;
  font-size: 46px;
}

h2 {
  font-family: Montserrat;
  text-align: center;
  font-size: 34px;
}

h3 {
  font-family: Montserrat;
}

body {
  font-family: Cabin;
  background-color: #0a4f58;
  color: white;
  font-size: 18px;
}

a:link {
  color: #0a4f58;
  font-weight: bold;
}

a:visited {
  color: #0a4f58;
  font-weight: bold;
}

summary {
  font-family: Roboto;
  font-size: 24px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #0a4f58;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-family: Roboto Slab;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #03837f;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: #d7dedf;
  color: #3d3135;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible::after {
  font-family: "FontAwesome";
  font-weight: 400;
  color: white;
  content: '\f067'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\f068'; /* Unicode character for "minus" sign (-) */
}
